
* {
    color: white;
}

body {
    background-color: black;
    text-align: center;
    padding: 40px;
}

input {
    color: black;
}

table {
    width: 50%;
    margin-left: 25%;
}

table, th, td {
    border: 1px solid;
    border-color: white;
}

th, td {
    display: inline-block;
    height: 20px;
    width: 24%;
}

button {
    background-color: black;
}
